spring:
  datasource:
    url: jdbc:h2:mem:credit_request_system_db
    password:
    username: meow
  jpa:
    show_sql: true
    hibernate:
      properties:
        hibernate.format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
